@model IEnumerable<Rad1G.Models.ObveznikViewModel>


<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OIB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kontakt)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OIB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kontakt)
                </td>
            </tr>
        }

    </table>
</div>
